<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aksharSparsh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Akshar Sparsh"
        android:roundIcon="@mipmap/prabodhswamiji"
        android:supportsRtl="true"
        android:name="com.example.aksharSparsh.GlobalApplication"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.aksharSparsh.Activity.prasangList.PrasangList" />
        <activity android:name="com.example.aksharSparsh.Activity.updatePrasang.UpdatePrasang" />
        <activity android:name="com.example.aksharSparsh.Activity.prasangDetails.PrasangDetails"
            android:parentActivityName="com.example.aksharSparsh.Activity.MainActivity" />
        <activity android:name="com.example.aksharSparsh.Activity.MainActivity" />
        <activity android:name="com.example.aksharSparsh.Activity.ProfileDetails" />
        <activity android:name="com.example.aksharSparsh.Activity.CreateAccount" />
        <activity android:name="com.example.aksharSparsh.Activity.savePrasang.SavePrasang" />
        <activity android:name="com.example.aksharSparsh.Activity.ForgotPassword" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDeFuuo_ueSXMlCCQQLUIFgFAs4Xo3ULNg" />

        <activity
            android:name="com.example.aksharSparsh.Activity.SplashScreen"
            android:grantUriPermissions="true"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>