<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Akshar Sparsh"
        android:roundIcon="@mipmap/prabodhswamiji"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.GridViewActivity"
            android:exported="false" />
        <activity
            android:name=".DynamicGridViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HomeScreen"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activity.prasangList.PrasangList" />
        <activity android:name=".Activity.updatePrasang.UpdatePrasang" />
        <activity
            android:name=".Activity.prasangDetails.PrasangDetails"
            android:parentActivityName=".Activity.MainActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.ProfileDetails" />
        <activity android:name=".Activity.CreateAccount" />
        <activity android:name=".Activity.savePrasang.SavePrasang" />
        <activity android:name=".Activity.ForgotPassword" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDeFuuo_ueSXMlCCQQLUIFgFAs4Xo3ULNg" />

        <activity
            android:name=".Activity.SplashScreen"
            android:exported="true"
            android:grantUriPermissions="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>